.teacher-background {
  padding: 15px;
}

.teacher-rating label {
  font-size: 50px;
}

.name-and-school {
  margin-top: 10px;
  margin-bottom: 15px;
}

.attendance-and-retake {
  margin-top: 15px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .hide-in-sm {
    display: none;
  }
}
